.rb-showingDiff:not(.rb-filename) {
  background-color: rgb(255,160,160);
  color: black !important;
}

/* If you want a blue button use these styles */

.rb-tableHeader input {
  margin:0.5px;
  color: white;
  text-transform: uppercase;
}

.rb-blueButton {
  border: 1px solid #3079ED;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #4D90FE;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
}

.rb-blueButton:hover {
  border: 1px solid #2F5BB7;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #357AE8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image: linear-gradient(top,#4d90fe,#357ae8);
}

.rb-redButton {
  border: 1px solid transparent;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #D14836;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  background-image: linear-gradient(top,#dd4b39,#d14836);
}

.rb-redButton:active {
  border: 1px solid #992A1B;
  background-color: #B0281A;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#b0281a));
  background-image: -webkit-linear-gradient(top,#dd4b39,#b0281a);
  background-image: linear-gradient(top,#dd4b39,#b0281a);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.rb-redButton:hover {
  border: 1px solid #B0281A;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #C53727;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#c53727));
  background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
  background-image: linear-gradient(top,#dd4b39,#c53727);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  text-decoration: none;
  -webkit-transition: all 0.0s;
}

.rb-disableSelection .rb-codelineChrome,
.rb-disableSelection .rb-lineNumber,
.rb-disableSelectionNew .rb-codelineNew,
.rb-disableSelectionOld .rb-codelineOld {
  -webkit-user-select: none;
  user-select: none;
}
